.item {
  min-width: 150px !important;
  max-width: 150px !important;
  min-height: 220px !important;
  max-height: 220px !important;
  border-radius: 5px;
  color: white;
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: transform 300ms;
}

.item:active {
  transform: scale(0.98);
}

/* Esqueleto */
.item span {
  background-color: #222 !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s !important;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.esqueleto {
  width: 100%;
  height: 100%;
  /* background-color: #333333; */
  position: absolute;
  top: 0;

  /* 
  animation-name: loadinggg;
  animation-iteration-count: infinite;
  animation-duration: 2s; */
}

/* @keyframes loadinggg {
  0% {
    background-color: #333333;
  }
  50% {
    background-color: #666666;
  }
  100% {
    background-color: #333333;
  }
} */

@media (min-width: 1024px) {
  /* Ocultar as setas */

  .item {
    min-width: 16% !important;
    max-width: 16% !important;
    min-height: 255px !important;
    max-height: 255px !important;
    overflow: visible !important;
  }
}
