.container {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* opacity: 0; */
  transition: opacity 500ms !important;
  will-change: opacity;
}

.padding {
  padding: 0 10px;
}

.titleCategory {
  font-size: 1.4vw;
  padding: 0 50px;
}

.moviesContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  overflow-x: scroll;
  padding: 0 10px;
  will-change: transform;
  /* white-space: nowrap; */
  flex-wrap: nowrap;
  padding: 0, 50px;
}

.moviesContainer::-webkit-scrollbar {
  display: none;
}

.moviesParentContainer {
  position: relative;
  max-width: 100vw;
  padding: 0 50px;
}

.moviesParentContainer:hover .arrowLeft,
.moviesParentContainer:hover .arrowRight {
  opacity: 1;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  z-index: 100;
  width: 50px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity 200ms, background-color 200ms;
  cursor: pointer;
}

.arrowLeft:hover,
.arrowRight:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.arrowLeft svg,
.arrowRight svg {
  transition: transform 200ms;
}

.arrowLeft:hover svg,
.arrowRight:hover svg {
  transform: scale(1.2);
  transition: transform 200ms;
}

.arrowLeft {
  left: 0;
  top: 0;
}

.arrowRight {
  right: 0;
  top: 0;
}

@media (max-width: 678px) {
  /* Ocultar as setas */

  .arrowLeft,
  .arrowRight {
    display: none;
  }

  .moviesContainer {
    overflow-x: scroll;
  }
}

@media (min-width: 1024px) {
  .moviesContainer {
    overflow: visible;
    transition-timing-function: in-ease;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    transition-duration: 0.54s;
  }
}
