.container {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.padding {
  padding: 0 10px;
}

.moviesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  overflow-x: scroll;
  padding: 0 10px;
}

.moviesContainer::-webkit-scrollbar {
  display: none;
}
