.item {
  max-width: 27%;
  min-width: 27%;
  border-radius: 5px;
  color: white;
  background-color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item img {
  width: 100%;
}
