.item {
    max-width: 27vw;
    min-width: 27vw;
    border-radius: 5px;
    color: white;
    background-color: #666;    
    display: flex;
    flex-direction: column;
    align-items: center;                
}

.item img {
    width: 100%;     
}