.container {
  display: flex;
  flex-direction: column;
  /* height: 100dvh; */
  width: 100vw;
  /* position: relative; */
  /* pointer-events: none; */
}

.content {
  flex: 1;
  overflow: scroll;
}

.content::-webkit-scrollbar {
  display: none;
}

/* @media (min-width: 800px) {
  .container {
    max-width: 430px;
  }
} */

@media (min-width: 1024px) {
  .content {
    flex: 1;
    overflow: visible;
  }
}
